<body>
    
 <table>
    <td><strong>Title:</strong></td>
    <td><%= @book.title %></td>
 </table>

 <table>
    <td><strong>Body:</strong></td>
    <td><%= @book.body %></td>
 </table>

 
   <%= link_to "Edit" %>|<%= link_to "Back" %>
 
 
</body>





